html{
    font-size: 100%;
}
body{
    background: #DDD;
}
.list-none{
    list-style:none;
}

.text-white a, .text-white span, .text-white li{
    color: #ccc !important;
    cursor : pointer;
}
.text-white a:hover, .text-white span:hover{
    color: #0056b3 !important;
}

.bg-dark-custom {
    background-color: #222;
}

main {
    background-color: #EEE;
    margin-bottom: 0;
}
.underline{
    text-decoration: underline;
}
@media screen and (max-width: 960px){
    .logolist-container {
        display: none;
    }
}
.carousel img{
    height:220px;
}